{% extends 'core/base.html' %}

{% block content %}
<h2>Trending Free Videos</h2>
<div class="video-grid">
    {% for video in videos %}
    <div class="video-card">
        <div class="thumbnail-box">
            {% if video.thumbnail %}
                <img src="{{ video.thumbnail.url }}" style="width:100%; height:130px; object-fit:cover;">
            {% else %}
                No Thumbnail
            {% endif %}
        </div>
        <div class="video-info">
            <a href="#" class="video-title">{{ video.title }}</a>
            <div class="video-meta">{{ video.views }} views • {{ video.channel.name }}</div>
        </div>
    </div>
    {% empty %}
    <p>No videos uploaded yet. Be the first to upload one!</p>
    {% endfor %}
</div>
{% endblock %}